In [1]:
# Importing dependencies
from sklearn import datasets
import pandas as pd

# Loading a toy dataset into a DataFrame
data = datasets.load_breast_cancer()
data_df = pd.DataFrame(data=data.data, columns=data.feature_names)

In [4]:
data_df

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [5]:
# Splitting the dataset into arbitrary sets of features
data_df1 = data_df[data.feature_names[:5]]
data_df2 = data_df[data.feature_names[5:10]]
data_df3 = data_df[data.feature_names[10:17]]
data_df4 = data_df[data.feature_names[17:30]]
target_df = pd.DataFrame(data=data.target, columns=["target"])

In [6]:
# Creating timestamps for the data
timestamps = pd.date_range(
    end=pd.Timestamp.now(),
    periods=len(data_df),
    freq='D'
).to_frame(name="event_timestamp", index=False)
timestamps

               event_timestamp
0   2023-12-15 21:36:53.518203
1   2023-12-16 21:36:53.518203
2   2023-12-17 21:36:53.518203
3   2023-12-18 21:36:53.518203
4   2023-12-19 21:36:53.518203
..                         ...
564 2025-07-01 21:36:53.518203
565 2025-07-02 21:36:53.518203
566 2025-07-03 21:36:53.518203
567 2025-07-04 21:36:53.518203
568 2025-07-05 21:36:53.518203

[569 rows x 1 columns]

In [7]:
# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, timestamps], axis=1)
data_df2 = pd.concat(objs=[data_df2, timestamps], axis=1)
data_df3 = pd.concat(objs=[data_df3, timestamps], axis=1)
data_df4 = pd.concat(objs=[data_df4, timestamps], axis=1)
target_df = pd.concat(objs=[target_df, timestamps], axis=1)

In [9]:
# Creating a list of arbitrary IDs for feature rows
patient_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["patient_id"])

# Adding the timestamp column to each DataFrame
data_df1 = pd.concat(objs=[data_df1, patient_ids], axis=1)
data_df2 = pd.concat(objs=[data_df2, patient_ids], axis=1)
data_df3 = pd.concat(objs=[data_df3, patient_ids], axis=1)
data_df4 = pd.concat(objs=[data_df4, patient_ids], axis=1)
target_df = pd.concat(objs=[target_df, patient_ids], axis=1)

In [10]:
# Inspecting the feature DataFrames
data_df1.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,event_timestamp,patient_id
0,17.99,10.38,122.80,1001.0,0.11840,2023-12-15 21:36:53.518203,0
1,20.57,17.77,132.90,1326.0,0.08474,2023-12-16 21:36:53.518203,1
2,19.69,21.25,130.00,1203.0,0.10960,2023-12-17 21:36:53.518203,2
3,11.42,20.38,77.58,386.1,0.14250,2023-12-18 21:36:53.518203,3
4,20.29,14.34,135.10,1297.0,0.10030,2023-12-19 21:36:53.518203,4

In [11]:
data_df2.head()

,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,event_timestamp,patient_id
0,0.27760,0.3001,0.14710,0.2419,0.07871,2023-12-15 21:36:53.518203,0
1,0.07864,0.0869,0.07017,0.1812,0.05667,2023-12-16 21:36:53.518203,1
2,0.15990,0.1974,0.12790,0.2069,0.05999,2023-12-17 21:36:53.518203,2
3,0.28390,0.2414,0.10520,0.2597,0.09744,2023-12-18 21:36:53.518203,3
4,0.13280,0.1980,0.10430,0.1809,0.05883,2023-12-19 21:36:53.518203,4

In [12]:
data_df3.head()

,radius error,texture error,perimeter error,area error,smoothness error,compactness error,concavity error,event_timestamp,patient_id
0,1.0950,0.9053,8.589,153.40,0.006399,0.04904,0.05373,2023-12-15 21:36:53.518203,0
1,0.5435,0.7339,3.398,74.08,0.005225,0.01308,0.01860,2023-12-16 21:36:53.518203,1
2,0.7456,0.7869,4.585,94.03,0.006150,0.04006,0.03832,2023-12-17 21:36:53.518203,2
3,0.4956,1.1560,3.445,27.23,0.009110,0.07458,0.05661,2023-12-18 21:36:53.518203,3
4,0.7572,0.7813,5.438,94.44,0.011490,0.02461,0.05688,2023-12-19 21:36:53.518203,4

In [13]:
data_df4.head()

,concave points error,symmetry error,fractal dimension error,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,event_timestamp,patient_id
0,0.01587,0.03003,0.006193,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,2023-12-15 21:36:53.518203,0
1,0.01340,0.01389,0.003532,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,2023-12-16 21:36:53.518203,1
2,0.02058,0.02250,0.004571,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,2023-12-17 21:36:53.518203,2
3,0.01867,0.05963,0.009208,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2023-12-18 21:36:53.518203,3
4,0.01885,0.01756,0.005115,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,2023-12-19 21:36:53.518203,4

In [14]:
# Inspecting the target DataFrame
target_df.head()

   target            event_timestamp  patient_id
0       0 2023-12-15 21:36:53.518203           0
1       0 2023-12-16 21:36:53.518203           1
2       0 2023-12-17 21:36:53.518203           2
3       0 2023-12-18 21:36:53.518203           3
4       0 2023-12-19 21:36:53.518203           4

In [15]:
# Writing our DataFrames to parquet files
data_df1.to_parquet(path='data/data_df1.parquet')
data_df2.to_parquet(path='data/data_df2.parquet')
data_df3.to_parquet(path='data/data_df3.parquet')
data_df4.to_parquet(path='data/data_df4.parquet')
target_df.to_parquet(path='data/target_df.parquet')

In [16]:
data_df1.tail()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,event_timestamp,patient_id
564,21.56,22.39,142.00,1479.0,0.11100,2025-07-01 21:36:53.518203,564
565,20.13,28.25,131.20,1261.0,0.09780,2025-07-02 21:36:53.518203,565
566,16.60,28.08,108.30,858.1,0.08455,2025-07-03 21:36:53.518203,566
567,20.60,29.33,140.10,1265.0,0.11780,2025-07-04 21:36:53.518203,567
568,7.76,24.54,47.92,181.0,0.05263,2025-07-05 21:36:53.518203,568